<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div class="container">
  <header>
    <div id="name">
      <h2>VaughnGH</h2>
    </div>
    <nav>
      <ul>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Blog</a></li>
        <li><a href='#'>Contact</a></li>
        <li><a href='#'>Spam</a></li>
      </ul>
    </nav>
  </header>
  <div class="page-content">
    <div class="wrapper">
      <center>
      <h1>H1 Title</h1>
      <h2>H2 Title</h2>
      <h3>H3 Title</h3>
      <h4>H4 Title</h4>
      <h5>H5 Title</h5>
      <p>Paragraph</p>
      <i>Italics</i>
      <b>Bold</b>
      <u>Underlined</u>
      <a href="#">Link</a>
      <code>Code</code>

    </center>
      <p>
        Testing.... Testing.... Testing.... Testing....Testing....Testing....
      </p>
<!-- <div id="logo">
  <svg width="10%" viewBox="0 0 8 10">
    <polygon points="0,0 2,0 5,7.5 3,7.5" style="fill:#F01E25;stoke:#B8B8B8;stroke-width:3" />
    <polygon points="6,0 8,0 5,7.5 4,5" style="fill:#63B3E6;" />
    <polygon points="3,7.5 8,0 5,7.5" style="fill:black;fill-opacity:.3;" />
    <polygon points="3,7.5 0,0 5,7.5" style="fill:black;fill-opacity:.4;" />
  //COMMENT OUT  <polygon points="2,0 6,0 4,5" style="fill:cornsilk;" />
  </svg>
</div>  -->

    </div>
  </div>
<footer>
<p>
  <code style="font-size:8px">Down here I'll put something cool. Maybe it'll scroll on its own.</code>
</p>

</footer>
  </div>
</body>

</html>
